{% extends 'base-user.html' %} {% load static %} {% block content %}

<div class="login-form">
  <form class="form contact-form" method="post">
    {{ form.non_field_errors | safe }} {% csrf_token %} {{form.as_p}} {{ form.errors|safe }}
    <div class="form-group">
      <label>Email Address</label>
      {{ form.as_p }} {{ form.errors|safe }}
    </div>
    <div class="form-tip pt-20">
      {% if redirect_field_value %}
      <input
        type="hidden"
        name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}"
      />
      {% endif %}
    </div>
    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">
      Change password
    </button>
  </form>
</div>

{% endblock content %}
