{% extends 'base-user.html' %} {% load static %} {% block content %}

<div class="login-form">
  <form
    class="form contact-form"
    method="post"
    action="{% url 'account_signup' %}"
  >
    {{ form.non_field_errors | safe }} {% csrf_token %}
    <div class="form-group">
      {{ form.username }} {{ form.username.errors | safe }}
    </div>
    <div class="form-group">
      {{ form.email }} {{ form.email.errors|safe }}
    </div>
    <div class="form-group">
      {{ form.password1 }} {{ form.password1.errors|safe }}
    </div>
    <div class="form-group">
      {{ form.password2 }}
      {{ form.password2.errors|safe }}
    </div>
    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">
      register
    </button>
    <div class="form-tip pt-20">
      {% if redirect_field_value %}
      <input
        type="hidden"
        name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}"
      />
      {% endif %}
    </div>
  </form>
  <div class="register-link">
    <p>
      Already have account?
      <a href="{{ login_url }}">Sign In</a>
    </p>
  </div>
</div>

{% endblock %}
