{% extends 'base.html' %} {% load static %} {% block content %}

<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
          <div class="overview-wrap">
            <h2 class="title-1">overview</h2>
          </div>
        </div>
      </div>
      <!-- creation -->
      <div class="row">
        <div class="col-lg">
          <div class="table-responsive table--no-card m-b-40">
            <h3>Creation</h3>
            <table class="table table-borderless table-striped table-earning">
              <thead>
                <tr>
                  <th>title</th>
                  <th >author</th>
                  <th >category</th>
                  <th >proved</th>
                  <th >updated</th>
                </tr>
              </thead>
              <tbody>
                {% for creation in creations %}
                <tr>
                  <td>{{creation.title}}</td>
                  <td>{{creation.author}}</td>
                  {% for cat in creation.category.all %}
                  <td >{{cat.name}}</td>
                  {% endfor %}
                  <td >{{creation.status}}</td>
                  <td >{{creation.updated_date|date:"d M Y"}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Exhibition -->
      <div class="row">
        <div class="col-lg">
          <div class="table-responsive table--no-card m-b-40">
            <h3>Exhibition</h3>
            <table class="table table-borderless table-striped table-earning">
              <thead>
                <tr>
                  <th>name</th>
                  <th>date</th>
                  <th >author</th>
                  <th >category</th>
                  <th >proved</th>
                  <th >updated</th>
                </tr>
              </thead>
              <tbody>
                {% for exh in exhibition %}
                <tr>
                  <td>{{exh.name}}</td>
                  <td>{{exh.date}}</td>
                  <td>{{exh.author}}</td>
                  {% for cat in exh.category.all %}
                  <td >{{cat.name}}</td>
                  {% endfor %}
                  <td >{{exh.proved}}</td>
                  <td >{{exh.updated_date|date:"d M Y"}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Teaching -->
      <div class="row">
        <div class="col-lg">
          <div class="table-responsive table--no-card m-b-40">
            <h3>Teaching</h3>
            <table class="table table-borderless table-striped table-earning">
              <thead>
                <tr>
                  <th>name</th>
                  <th>date</th>
                  <th>subject</th>
                  <th >author</th>
                  <th >category</th>
                  <th >proved</th>
                  <th >updated</th>
                </tr>
              </thead>
              <tbody>
                {% for teach in teaching %}
                <tr>
                  <td>{{teach.name}}</td>
                  <td>{{teach.date}}</td>
                  <td>{{teach.subject}}</td>
                  <td>{{teach.author}}</td>
                  {% for cat in teach.category.all %}
                  <td >{{cat.name}}</td>
                  {% endfor %}
                  <td >{{teach.proved}}</td>
                  <td >{{teach.updated_date|date:"d M Y"}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Registered Exhibition -->
      <div class="row">
        <div class="col-lg">
          <div class="table-responsive table--no-card m-b-40">
            <h3>Registered Exhibition</h3>
            <table class="table table-borderless table-striped table-earning">
              <thead>
                <tr>
                  <th>name</th>
                  <th >updated</th>
                </tr>
              </thead>
              <tbody>
                {% for rexh in registeredexh %}
                <tr>
                  <td>{{rexh.name}}</td>
                  <td >{{rexh.updated_date|date:"d M Y"}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            <p>
              Copyright © 2018 Colorlib. All rights reserved. Template by
              <a href="https://colorlib.com">Colorlib</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
