{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hi</title>
  </head>
  <body>
    <div class="register-link">
      <p>
        Don't you have account?
        <a href="{% url 'account_signup' %}">Sign Up Here</a>
      </p>
    </div>
    <div class="register-link">
      <p>
        Already have account?
        <a href="{% url 'account_login' %}">Sign In</a>
      </p>
    </div>
  </body>
</html>
